@model IEnumerable<Domain.Entities.PropertyListing>
@{
}

<h1>All Holiday Properties</h1>

@foreach(var property in @Model)
{
    <h3>@property.Id - @property.Name</h3>
    <p>@property.Blurb</p>
    <p>Location: @property.Location</p>
    <p>Number of bedrooms: @property.NumberOfBedrooms</p>
    <p>PricePerNight: @property.CostPerNight</p>
}